body {
    padding-bottom: 50px;
}
form,h1,h2,p {
    padding: 0 15px;
}
button a {
    color: #fff;
}
button a:hover {
    color: #fff;
    text-decoration: none;
}
.alert.alert-danger {
    bottom: 0;
    position: fixed;
    width: 100%;
}
.btn-arrow {
    font-size: 35px;
    padding: 0px 5px 5px;
    margin: 10px;
    line-height: 0.6;
    color: white;
    background-color: lightslategray;
}
.btn-right {
    float: right;
}
.btn-left {
    float: left;
}
.btn:disabled:hover {
    color: white;
}
@media(min-width: 576px) {
     .col-form-label {
         text-align: right;
     }
     button {
         float: right;
     }
 }