<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="../fragments/general.html :: head('Alerts')">
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<h1>Alerts</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">MAC Address</th>
            <th scope="col">Nickname</th>
            <th scope="col">Message</th>
            <th scope="col">Is Severe?</th>
            <th scope="col">Is Active?</th>
            <th scope="col">Contact Status</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Resolve?</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="alert:${alerts}">
            <td>
                <a th:text="${alert.wristband.macAddress}"
                   th:href="@{/wristbands/{id}(id=${alert?.wristband.id})}">macAddress</a>
            </td>
            <td th:text="${alert?.wristband.nickname}">nickname</td>
            <td th:text="${alert.message}">message</td>
            <td th:text="${alert.isSevere}">isSevere</td>
            <td th:text="${alert.isActive}">isActive</td>
            <td th:text="${alert.contactStatus}">contactStatus</td>
            <td th:text="${alert.timeStamp}">timeStamp</td>
            <td>
                <a th:href="@{/alerts/resolve/{id}(id=${alert.id})}">resolve</a>
            </td>
        </tr>
    </tbody>
</table>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>