<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify Alert</title>
    <link th:replace="../fragments/general.html :: bootstrap"/>
    <link th:replace="../fragments/general.html :: stylesheet"/>
</head>
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>

<table>
    <tr>
        <th>ID</th>
        <th>Wristband MAC</th>
        <th>Message</th>
        <th>Is Severe?</th>
        <th>Is Active?</th>
        <th>Contact Status</th>
        <th>Timestamp</th>
    </tr>
    <tr>
        <td>
            <a th:text="${alert.id}"
               th:href="@{/alerts/modify/{id}(id=${alert.id})}">id</a>
        </td>
        <td>
            <a th:text="${alert.wristband.macAddress}"
               th:href="@{/wristbands/{id}(id=${alert.wristband.id})}">macAddress</a>
        </td>
        <td th:text="${alert.message}">message</td>
        <td th:text="${alert.isSevere}">isSevere</td>
        <td th:text="${alert.isActive}">isActive</td>
        <td th:text="${alert.contactStatus}">contactStatus</td>
        <td th:text="${alert.timeStamp}">timeStamp</td>
    </tr>
    <h6>
        <a th:text="${'Resolve Alert'}"
           th:href="@{/alerts/resolve/{id}(id=${alert.id})}">resolve</a>
    </h6>
</table>
<footer th:replace="../fragments/general.html :: footer"></footer>
</body>
</html>