<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify Wristband</title>
</head>
<body>
<header th:replace="../fragments/general.html :: header"></header>
<form th:action="@{/alerts/modify}" method="post">
    <div>
        <label>Message: <input type="text" name="id" minlength="1" maxlength="255"/></label>
        <label>Is Severe?: <input type="checkbox" name="isSevereString"/></label>
        <label>Is Active?: <input type="checkbox" name="isActiveString"/></label>
    </div>
    <div>
        <input type="submit" value="Modify"/>
    </div>
</form>
<footer th:replace="../fragments/general.html :: footer"></footer>
</body>
</html>