<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="../fragments/general.html :: head('Modify Alert')">
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<h1>Modify Alert</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Wristband MAC</th>
            <th scope="col">Message</th>
            <th scope="col">Is Severe?</th>
            <th scope="col">Is Active?</th>
            <th scope="col">Contact Status</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a th:text="${alert.id}"
                   th:href="@{/alerts/modify/{id}(id=${alert.id})}">id</a>
            </td>
            <td>
                <a th:text="${alert.wristband.macAddress}"
                   th:href="@{/wristbands/{id}(id=${alert.wristband.id})}">macAddress</a>
            </td>
            <td th:text="${alert.message}">message</td>
            <td th:text="${alert.isSevere}">isSevere</td>
            <td th:text="${alert.isActive}">isActive</td>
            <td th:text="${alert.contactStatus}">contactStatus</td>
            <td th:text="${alert.timeStamp}">timeStamp</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary">
    <a th:href="@{/alerts/resolve/{id}(id=${alert.id})}">Resolve Alert</a>
</button>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>