<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hubs</title>
    <link th:replace="../fragments/general.html :: bootstrap"/>
    <link th:replace="../fragments/general.html :: stylesheet"/>
</head>
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<h1>Hubs</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">MAC Address</th>
            <th scope="col">Name</th>
            <th scope="col">Power</th>
            <th scope="col">SPC</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col">Z</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="detailedHub:${detailedHubs}">
            <td scope="row">
                <a th:text="${detailedHub.hub.macAddress}"
                   th:href="@{/hubs/modify/{id}(id=${detailedHub.hub.id})}">macAddress</a>
            </td>
            <td th:text="${detailedHub.hub.nickname}">nickname</td>
            <td th:text="${detailedHub.hub.txPower}">txPower</td>
            <td th:text="${detailedHub.hub.signalPropagationConstant}">signalPropagationConstant</td>
            <td th:text="${detailedHub.locationX}">locationX</td>
            <td th:text="${detailedHub.locationY}">locationY</td>
            <td th:text="${detailedHub.locationZ}">locationZ</td>
            <td th:text="${detailedHub.timeStamp}">timeStamp</td>
        </tr>
    </tbody>
</table>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>