<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hubs</title>
    <link th:replace="../fragments/general.html :: stylesheet"/>
</head>
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<table>
    <tr>
        <th>MAC Address</th>
        <th>Name</th>
        <th>Power</th>
        <th>SPC</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>Timestamp</th>
    </tr>
    <tr th:each="detailedHub:${detailedHubs}">
        <td>
            <a th:text="${detailedHub.hub.macAddress}"
               th:href="@{/hubs/modify/{id}(id=${detailedHub.hub.id})}">macAddress</a>
        </td>
        <td th:text="${detailedHub.hub.nickname}">nickname</td>
        <td th:text="${detailedHub.hub.txPower}">txPower</td>
        <td th:text="${detailedHub.hub.signalPropagationConstant}">signalPropagationConstant</td>
        <td th:text="${detailedHub.locationX}">locationX</td>
        <td th:text="${detailedHub.locationY}">locationY</td>
        <td th:text="${detailedHub.locationZ}">locationZ</td>
        <td th:text="${detailedHub.timeStamp}">timeStamp</td>
    </tr>
</table>
<footer th:replace="../fragments/general.html :: footer"></footer>
</body>
</html>