<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify Hub</title>
</head>
<body>
<form th:action="@{/hubs/modify/} + ${detailedHub.hub.id}" method="post">
    <table>
        <tr>
            <th>ID</th>
            <th>Power</th>
            <th>SPC</th>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
            <th>Timestamp</th>
        </tr>
        <tr>
            <td th:text="${detailedHub.hub.id}">id</td>
            <td th:text="${detailedHub.hub.txPower}">txPower</td>
            <td th:text="${detailedHub.hub.signalPropagationConstant}">signalPropagationConstant</td>
            <td th:text="${detailedHub.locationX}">locationX</td>
            <td th:text="${detailedHub.locationY}">locationY</td>
            <td th:text="${detailedHub.locationZ}">locationZ</td>
            <td th:text="${detailedHub.timeStamp}">timeStamp</td>
        </tr>
    </table>
    <div>
        <label>Location X: <input type="number" step="any" name="locationX"/></label>
        <label>Location Y: <input type="number" step="any" name="locationY"/></label>
        <label>Location Z: <input type="number" step="any" name="locationZ"/></label>
    </div>
    <div>
        <input type="submit" value="Add"/>
    </div>
</form>
</body>
</html>