<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WCAM Home</title>
    <link th:replace="../fragments/general.html :: bootstrap"/>
    <link th:replace="../fragments/general.html :: stylesheet"/>
</head>
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<p>Welcome to the web interface for the Wearable Cardiovascular Abnormality Monitor.</p>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>
