<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
</head>
<body>
<header th:replace="../fragments/general.html :: header"></header>
<table>
    <tr>
        <th>MAC Address</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>Timestamp</th>
    </tr>
    <tr th:each="location:${hubLocations}">
        <td>
            <a th:text="${location.hub.macAddress}"
               th:href="@{/hubs/modify/{id}(id=${location.hub.id})}">macAddress</a>
        </td>
        <td th:text="${location.locationX}">locationX</td>
        <td th:text="${location.locationY}">locationY</td>
        <td th:text="${location.locationZ}">locationZ</td>
        <td th:text="${location.timeStamp}">timeStamp</td>
    </tr>
    <tr th:each="location:${wristbandLocations}">
        <td>
            <a th:text="${location.wristband.macAddress}"
               th:href="@{/wristbands/{id}(id=${location.wristband.id})}">macAddress</a>
        </td>
        <td th:text="${location.locationX}">locationX</td>
        <td th:text="${location.locationY}">locationY</td>
        <td th:text="${location.locationZ}">locationZ</td>
        <td th:text="${location.timeStamp}">timeStamp</td>
    </tr>
</table>
<footer th:replace="../fragments/general.html :: footer"></footer>
</body>
</html>