<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Locations</title>
    <link th:replace="../fragments/general.html :: bootstrap"/>
    <link th:replace="../fragments/general.html :: stylesheet"/>
</head>
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<h1 th:text="${title}">Locations</h1>
<form th:action="@{/locations}" method="get">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Type:</label>
        <div class="col-sm-10">
            <select class="form-control" name="type">
                <option value="hub" th:selected="${type=='hub'}">Hub</option>
                <option value="wristband" th:selected="${type=='wristband'}">Wristband</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Page Num:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" step="1" name="pageNum" th:value="${pageNum}"/>
        </div>
        <label class="col-sm-2 col-form-label">Page Size:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" step="1" name="pageSize" th:value="${pageSize}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Hub ID:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" step="1" name="hub" th:value="${hub}"/>
            <small class="form-text text-muted">Found in URL for hub page.</small>
        </div>
        <label class="col-sm-2 col-form-label">Hub Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="hName" th:value="${hName}" minlength="1" maxlength="30"/>
            <small class="form-text text-muted">Not unique. ID takes priority.</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Wristband ID:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" step="1" name="wristband" th:value="${wristband}"/>
            <small class="form-text text-muted">Found in URL for wristband page.</small>
        </div>
        <label class="col-sm-2 col-form-label">Wristband Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="wName" th:value="${wName}" minlength="1" maxlength="30"/>
            <small class="form-text text-muted">Not unique. ID takes priority.</small>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<button th:if="${pageNum == 0}" type="button" class="btn btn-default btn-arrow btn-left" disabled>
    <span aria-hidden="true">←</span>
</button>
<a th:unless="${pageNum == 0}" th:href="@{/locations(type=${type},pageNum=${pageNum - 1},pageSize=${pageSize},hub=${hub},hName=${hName},wristband=${wristband},wName=${wName})}">
    <button type="button" class="btn btn-default btn-arrow btn-left">
        <span aria-hidden="true">←</span>
    </button>
</a>
<button th:if="${lastCount == total}" type="button" class="btn btn-default btn-arrow btn-right" disabled>
    <span aria-hidden="true">→</span>
</button>
<a th:unless="${lastCount == total}" th:href="@{/locations(type=${type},pageNum=${pageNum + 1},pageSize=${pageSize},hub=${hub},hName=${hName},wristband=${wristband},wName=${wName})}">
    <button type="button" class="btn btn-default btn-arrow btn-right">
        <span aria-hidden="true">→</span>
    </button>
</a>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">MAC Address</th>
            <th scope="col">Nickname</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col">Z</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="location:${hubLocations}">
            <td scope="row">
                <a th:text="${location.hub.macAddress}"
                   th:href="@{/hubs/modify/{id}(id=${location.hub.id})}">macAddress</a>
            </td>
            <td th:text="${location.hub.nickname}">nickname</td>
            <td th:text="${location.locationX}">locationX</td>
            <td th:text="${location.locationY}">locationY</td>
            <td th:text="${location.locationZ}">locationZ</td>
            <td th:text="${location.timeStamp}">timeStamp</td>
        </tr>
        <tr th:each="location:${wristbandLocations}">
            <td scope="row">
                <a th:text="${location.wristband.macAddress}"
                   th:href="@{/wristbands/{id}(id=${location.wristband.id})}">macAddress</a>
            </td>
            <td th:text="${location.wristband.nickname}">nickname</td>
            <td th:text="${location.locationX}">locationX</td>
            <td th:text="${location.locationY}">locationY</td>
            <td th:text="${location.locationZ}">locationZ</td>
            <td th:text="${location.timeStamp}">timeStamp</td>
        </tr>
    </tbody>
</table>
<p><b th:text="${firstCount + '-' + lastCount + ' of ' + total}"></b></p>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>