<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header><div><h6><a th:href="@{/signup}">Signup</a></h6></div></header>
<form th:action="@{/login}" method="post">
    <div>
        <label>Username: <input type="text" name="username" required/></label>
        <label>Password: <input type="password" name="password" required/></label>
    </div>
    <div>
        <input type="submit" value="Login"/>
    </div>
</form>
</body>
</html>