<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="../fragments/general.html :: head('Phones')">
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<h1>Phones</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Phone</th>
            <th scope="col">Remove?</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="phone:${phones}">
            <td th:text="${phone.id}">phone</td>
            <td>
                <a th:href="@{/alerts/phones/remove/{id}(id=${phone.id})}">remove</a>
            </td>
        </tr>
    </tbody>
</table>
<form th:action="@{/alerts/phones}" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Phone:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="id" pattern="\+[0-9]{11,14}"/>
            <small class="form-text text-muted">Start with the +[area code] then your number with no punctuation.</small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>