<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link th:replace="../fragments/general.html :: bootstrap"/>
    <link th:replace="../fragments/general.html :: stylesheet"/>
</head>
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<form th:action="@{/signup}" method="post">
    <div>
        <label>First Name: <input type="text" name="firstName" required/></label>
        <label>Last Name: <input type="text" name="lastName" required/></label>
        <label>Email: <input type="text" name="email" required/></label>
        <label>Password: <input type="password" name="password" required/></label>
    </div>
    <div>
        <input type="submit" value="Signup"/>
    </div>
</form>
</body>
</html>