<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="../fragments/general.html :: head('Profile')">
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<h1>Profile</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Username</th>
            <th scope="col">Locked?</th>
            <th scope="col">Enabled?</th>
            <th scope="col">Manager?</th>
            <th scope="col">Admin?</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col" th:text="${user.id}">id</td>
            <td th:text="${user.firstName}">firstName</td>
            <td th:text="${user.lastName}">lastName</td>
            <td th:text="${user.birthDate}">birthDate</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.isLocked}">isLocked</td>
            <td th:text="${user.isEnabled}">isEnabled</td>
            <td th:text="${user.isManager}">isManager</td>
            <td th:text="${user.isAdmin}">isAdmin</td>
            <td th:text="${user.notes}">notes</td>
        </tr>
    </tbody>
</table>
<br/>
<h2>Wristbands</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">MAC Address</th>
            <th scope="col">Nickname</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col">Z</th>
            <th scope="col">Max Radius (m)</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="detailedWristband:${detailedWristbands}">
            <td scope="row">
                <a th:text="${detailedWristband.wristband.macAddress}"
                   th:href="@{/wristbands/{id}(id=${detailedWristband.wristband.id})}">macAddress</a>
            </td>
            <td th:text="${detailedWristband.wristband.nickname}">nickname</td>
            <td th:text="${detailedWristband.locationX}">locationX</td>
            <td th:text="${detailedWristband.locationY}">locationY</td>
            <td th:text="${detailedWristband.locationZ}">locationZ</td>
            <td th:text="${detailedWristband.approximateDistanceInMetres}">distance</td>
            <td th:text="${detailedWristband.timeStamp}">timeStamp</td>
        </tr>
    </tbody>
</table>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>