<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Email</th>
        <th>Locked?</th>
        <th>Enabled?</th>
        <th>Manager?</th>
        <th>Admin?</th>
        <th>Notes</th>
    </tr>
    <tr>
        <td th:text="${user.id}">id</td>
        <td th:text="${user.firstName}">firstName</td>
        <td th:text="${user.lastName}">lastName</td>
        <td th:text="${user.birthDate}">birthDate</td>
        <td th:text="${user.email}">email</td>
        <td th:text="${user.isLocked}">isLocked</td>
        <td th:text="${user.isEnabled}">isEnabled</td>
        <td th:text="${user.isManager}">isManager</td>
        <td th:text="${user.isAdmin}">isAdmin</td>
        <td th:text="${user.notes}">notes</td>
    </tr>
</table>
<br/>
<p>Wristbands:</p>
<table>
    <tr>
        <th>MAC Address</th>
        <th>User ID</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>Approx. Distance (m)</th>
        <th>Timestamp</th>
    </tr>
    <tr th:each="detailedWristband:${detailedWristbands}">
        <td th:text="${detailedWristband.wristband.macAddress}">macAddress</td>
        <td th:text="${detailedWristband.wristband?.user.id}">userId</td>
        <td th:text="${detailedWristband.locationX}">locationX</td>
        <td th:text="${detailedWristband.locationY}">locationY</td>
        <td th:text="${detailedWristband.locationZ}">locationZ</td>
        <td th:text="${detailedWristband.approximateDistanceInMetres}">distance</td>
        <td th:text="${detailedWristband.timeStamp}">timeStamp</td>
    </tr>
</table>
</body>
</html>