<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="../fragments/general.html :: head('All Users')">
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<h1>All Users</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Username</th>
            <th scope="col">Locked?</th>
            <th scope="col">Enabled?</th>
            <th scope="col">Manager?</th>
            <th scope="col">Admin?</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user:${users}">
            <td scope="row">
                <a th:text="${user.id}"
                   th:href="@{/profiles/{id}(id=${user.id})}">id</a>
            </td>
            <td th:text="${user.firstName}">firstName</td>
            <td th:text="${user.lastName}">lastName</td>
            <td th:text="${user.birthDate}">birthDate</td>
            <td th:text="${user.email}">email</td>
            <td th:text="${user.isLocked}">isLocked</td>
            <td th:text="${user.isEnabled}">isEnabled</td>
            <td th:text="${user.isManager}">isManager</td>
            <td th:text="${user.isAdmin}">isAdmin</td>
            <td th:text="${user.notes}">notes</td>
        </tr>
    </tbody>
</table>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>