<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Values</title>
    <link th:replace="../fragments/general.html :: bootstrap"/>
    <link th:replace="../fragments/general.html :: stylesheet"/>
</head>
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<h1 th:text="${title}">Values</h1>
<form th:action="@{/values}" method="get">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Type:</label>
        <div class="col-sm-10">
            <select class="form-control" name="type">
                <option value="ecg" th:selected="${type=='ecg'}">ECG</option>
                <option value="heartrate" th:selected="${type=='heartrate'}">Heart Rate</option>
                <option value="oxygen" th:selected="${type=='oxygen'}">Sp02</option>
                <option value="skintemp" th:selected="${type=='skintemp'}">Skin Temp.</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Page Num:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" step="1" name="pageNum" th:value="${pageNum}"/>
        </div>
        <label class="col-sm-2 col-form-label">Page Size:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" step="1" name="pageSize" th:value="${pageSize}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Wristband ID:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" step="1" name="wristband" th:value="${wristband}"/>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<button th:if="${pageNum == 0}" type="button" class="btn btn-default btn-arrow btn-left" disabled>
    <span aria-hidden="true">←</span>
</button>
<a th:unless="${pageNum == 0}" th:href="@{/values(type=${type},pageNum=${pageNum - 1},pageSize=${pageSize},wristband=${wristband})}">
    <button type="button" class="btn btn-default btn-arrow btn-left">
        <span aria-hidden="true">←</span>
    </button>
</a>
<button th:if="${lastCount == total}" type="button" class="btn btn-default btn-arrow btn-right" disabled>
    <span aria-hidden="true">→</span>
</button>
<a th:unless="${lastCount == total}" th:href="@{/values(type=${type},pageNum=${pageNum + 1},pageSize=${pageSize},wristband=${wristband})}">
    <button type="button" class="btn btn-default btn-arrow btn-right">
        <span aria-hidden="true">→</span>
    </button>
</a>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Wristband MAC</th>
            <th scope="col">Value</th>
            <th scope="col">Confidence</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="value:${values}">
            <td scope="row" th:text="${value.id}">id</td>
            <td>
                <a th:text="${value.wristband.macAddress}"
                   th:href="@{/wristbands/{id}(id=${value.wristband.id})}">macAddress</a>
            </td>
            <td th:text="${value.value}">value</td>
            <td th:text="${value.confidence}">confidence</td>
            <td th:text="${value.timeStamp}">timeStamp</td>
        </tr>
    </tbody>
</table>
<p><b th:text="${firstCount + '-' + lastCount + ' of ' + total}"></b></p>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>