<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Values</title>
    <link th:replace="../fragments/general.html :: bootstrap"/>
    <link th:replace="../fragments/general.html :: stylesheet"/>
</head>
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<form th:action="@{/values}" method="get">
    <label>Type: <select name="type">
        <option value="ecg">ECG</option>
        <option value="heartrate">Heart Rate</option>
        <option value="oxygen">Sp02</option>
        <option value="skintemp">Skin Temp.</option>
    </select></label>
    <label>Page Num: <input type="number" step="1" name="pageNum"/></label>
    <label>Page Size: <input type="number" step="1" name="pageSize"/></label>
    <label>Wristband ID: <input type="number" step="1" name="wristband"/></label>
    <label>Hub ID: <input type="number" step="1" name="hub"/></label>
    <input type="submit" value="Search"/>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Wristband MAC</th>
        <th>Timestamp</th>
        <th>Value</th>
        <th>Confidence</th>
    </tr>
    <tr th:each="value:${values}">
        <td th:text="${value.id}">id</td>
        <td>
            <a th:text="${value.wristband.macAddress}"
               th:href="@{/wristbands/{id}(id=${value.wristband.id})}">macAddress</a>
        </td>
        <td th:text="${value.value}">value</td>
        <td th:text="${value.confidence}">confidence</td>
        <td th:text="${value.timeStamp}">timeStamp</td>
    </tr>
</table>
<footer th:replace="../fragments/general.html :: footer"></footer>
</body>
</html>