<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wristbands</title>
    <link th:replace="../fragments/general.html :: bootstrap"/>
    <link th:replace="../fragments/general.html :: stylesheet"/>
</head>
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<h1>Wristbands</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">MAC Address</th>
            <th scope="col">Nickname</th>
            <th scope="col">User</th>
            <th scope="col">X</th>
            <th scope="col">Y</th>
            <th scope="col">Z</th>
            <th scope="col">Max Radius (m)</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="detailedWristband:${detailedWristbands}">
            <td scope="row">
                <a th:text="${detailedWristband.wristband.macAddress}"
                   th:href="@{/wristbands/{id}(id=${detailedWristband.wristband.id})}">macAddress</a>
            </td>
            <td th:text="${detailedWristband.wristband.nickname}">nickname</td>
            <td>
                <a th:text="${detailedWristband.wristband?.user.lastName != null ?
                    detailedWristband.wristband?.user.firstName + ' ' + detailedWristband.wristband?.user.lastName :
                    detailedWristband.wristband?.user.firstName}"
                   th:href="@{/profiles/{id}(id=${detailedWristband.wristband?.user.id})}">fullName</a>
            </td>
            <td th:text="${detailedWristband.locationX}">locationX</td>
            <td th:text="${detailedWristband.locationY}">locationY</td>
            <td th:text="${detailedWristband.locationZ}">locationZ</td>
            <td th:text="${detailedWristband.approximateDistanceInMetres}">distance</td>
            <td th:text="${detailedWristband.timeStamp}">timeStamp</td>
        </tr>
    </tbody>
</table>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>