<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Wristband</title>
    <link th:replace="../fragments/general.html :: stylesheet"/>
</head>
<body>
<header th:replace="../fragments/general.html :: header"></header>
<form th:action="@{/wristbands/add}" method="post">
    <div>
        <label>MAC: <input type="text" name="macAddress" pattern="([0-9A-F]{2}:){5}[0-9A-F]{2}"/></label>
        <label>Name: <input type="text" name="nickname" minlength="1" maxlength="30"/></label>
        <label th:if="${isAdmin}">User ID: <input type="number" step="1" name="user"/></label>
    </div>
    <div>
        <input type="submit" value="Add"/>
    </div>
</form>
<footer th:replace="../fragments/general.html :: footer"></footer>
</body>
</html>