<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="../fragments/general.html :: head('Assign Wristbands')">
<body>
<nav th:replace="../fragments/general.html :: navbar"></nav>
<h1>Assign Wristbands</h1>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">MAC Address</th>
        <th scope="col">Nickname</th>
        <th scope="col">X</th>
        <th scope="col">Y</th>
        <th scope="col">Z</th>
        <th scope="col">Distance (m)</th>
        <th scope="col">Timestamp</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="detailedWristband:${detailedWristbands}">
        <td scope="row">
            <a th:text="${detailedWristband.wristband.macAddress}"
               th:href="@{/wristbands/{id}(id=${detailedWristband.wristband.id})}">macAddress</a>
        </td>
        <td th:text="${detailedWristband.wristband.nickname}">nickname</td>
        <td th:text="${detailedWristband.locationX}">locationX</td>
        <td th:text="${detailedWristband.locationY}">locationY</td>
        <td th:text="${detailedWristband.locationZ}">locationZ</td>
        <td th:text="${detailedWristband.approximateDistanceInMetres}">distance</td>
        <td th:text="${detailedWristband.timeStamp}">timeStamp</td>
    </tr>
    </tbody>
</table>
<form th:action="@{/wristbands/modify}" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">MAC:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="macAddress" pattern="([0-9A-F]{2}:){5}[0-9A-F]{2}"/>
            <small class="form-text text-muted">Use uppercase letters if needed. Separate each byte by a colon.</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="nickname" minlength="1" maxlength="30"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">User ID:</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" step="1" name="user"/>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Modify</button>
        </div>
    </div>
</form>
<div th:replace="../fragments/general.html :: alert"></div>
<div th:replace="../fragments/general.html :: footer"></div>
</body>
</html>