<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
</head>
<body>
<header th:fragment="header">
    <div>
        <h6 th:if="${isAdmin}"><a th:href="@{/hubs}">Hubs</a></h6>
        <h6 th:if="${isAdmin}"><a th:href="@{/locations}">Locations</a></h6>
        <h6 th:if="${isEnabled}"><a th:href="@{/values}">Values</a></h6>
        <h6 th:if="${isEnabled}"><a th:href="@{/wristbands}">Wristbands</a></h6>
        <h6 th:if="${isManager}"><a th:href="@{/wristbands/modify}">::Assign</a></h6>
        <h6 th:if="${isAdmin || isManager}"><a th:href="@{/alerts}">Alerts</a></h6>
        <h6 th:if="${isEnabled && !isManager}"><a th:href="@{/profiles}">Profile</a></h6>
        <h6 th:if="${isEnabled}"><a th:href="@{/logout}">Logout</a></h6>
        <h6 th:if="${isLoggedOut}"><a th:href="@{/login}">Login</a></h6>
        <h6 th:if="${isLoggedOut}"><a th:href="@{/signup}">Signup</a></h6>
    </div>
</header>
<p>Go to the next page to see fragments in action</p>
<aside>
    <div>This is a sidebar</div>
</aside>
<div class="another">This is another sidebar</div>
<footer th:fragment="footer">
    <a th:href="@{/fragments}">Fragments Index</a> |
    <a th:href="@{/markup}">Markup inclussion</a> |
    <a th:href="@{/params}">Fragment params</a> |
    <a th:href="@{/other}">Other</a>
</footer>
</body>
</html>